.color {
	text-align: left;
	color: white;
	background-color: #FF99FF;
}

.aligntext {
	text-align: left;
}

.alignimage {
	text-align: center;
}

.body {
	margin: 3% 10% 3% 10%;
}

.borderContainer {
	border: solid;
	border-color: black;
}